*{
    margin:0px;
    padding-top:7px;
    background-color: #3B4664;
    text-align: center;
}
input{
    width: 536px;
    height:142.73px;
    border-radius: 16px;
    text-align: right;
    font-size: 55px;
    color: #fff;
    border:2px solid grey;
}
#keypad{
    padding: 20px;

}
.keys{
    height:60px;
    width:100px;
    background-color: aliceblue;
    border:2px solid black;
    border-radius: 10px;
    font-size: 24px;
    margin: 10px 10px 10px 0px;
    /* padding-top: 10px; */

}
.keys1{
    height:60px;
    width:100px;
    background-color: aliceblue;
    border:2px solid black;
    border-radius: 10px;
    background-color: #647299;
    font-size: 24px;
    margin: 10px 10px 10px 0px;
}
.row1{
    display:flex;
    flex-direction:row;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    
}
.row2{
    display:flex;
    flex-direction:row;
    justify-content: center;
    font-weight: bold;
}
.row3{
    display:flex;
    flex-direction:row;
    justify-content: center;
    font-weight: bold;
}
.row4{
    display:flex;
    flex-direction:row;
    justify-content: center;
    font-weight: bold;
}
.row5{
    display:flex;
    flex-direction:row;
    justify-content: center;
    font-weight: bold;
}